* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #fff;
  color: #000;
  z-index: 999;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D2D2D2;
}

.flex {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 4%;
}

/* Logo */
.flex p {
  font-weight: bold;
  font-size: 20px;
  justify-self: start;
}

/* Menu */
.flex nav {
  justify-self: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

header ul li a {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

header ul li a:hover {
  background-color: #ccc;
}

header i {
  font-size: 20px;
  margin-right: 6px;
}

.nome-usuario {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Login */
#login {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 10px;
}

#login i {
  font-size: 30px;
  display: flex;
  align-items: center;
}

#login a,
#login span {
  font-size: 18px;
  line-height: 1;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 6px 8px;
}

#login .emCima:hover {
  background-color: #ccc;
  border-radius: 5px;
}

#login span.nome-usuario {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
