
header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    padding: 10px 10vw;
    z-index: 1;
}

/* Logo */


/* Opções */

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 2.1vw;
}

header ul li a {
    color: #000;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline 3px;
}