@import url("global.css");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.cont-Login {
  width: 40%;
  min-height: calc(100vh - 16vh);
  padding: 50px;
  color: #000;
  box-sizing: border-box;
}

.cont-Imagem {
  width: 60%;
  min-height: calc(100vh - 16vh);
  background-image: url("../img/fundo02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cont-Login a {
  color: blue;
}

.cont-Login img {
  width: 8vw;
  border-radius: 100%;
}
