@import url("global.css");

.cont-Login {
  width: 40%;
  padding: 50px;
  color: #000;
  box-sizing: border-box;
}

.cont-Imagem {
  width: 60%;
  background-image: url("../img/fundo02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cont-Login a {
  color: blue;
}

.cont-Login img {
  width: 8vw;
  border-radius: 100%;
}
