{% extends "head.html" %}

{% include "header.html" %}

{% block content %}
<div class="container mt-5 bg-dark text-light rounded p-4" style="min-height: 80vh;">
    <section>
        <h3 class="mb-4 text-warning">Cadastrar Empréstimo</h3>
        <form action="" method="post" class="needs-validation" novalidate>
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.user_id.label(class="form-label text-light") }}
                {{ form.user_id(class="form-control bg-secondary text-light border-0") }}
            </div>

            <div class="mb-3">
                {{ form.livro_id.label(class="form-label text-warning fw-medium") }}
                {{ form.livro_id(class="form-control bg-secondary text-light border-0") }}
            </div>

            <div class="mb-3">
                {{ form.data_emprestimo.label(class="form-label text-warning fw-medium") }}
                {{ form.data_emprestimo(class="form-control bg-secondary text-light border-0") }}
            </div>

            <div class="mb-3">
                {{ form.data_devolucao.label(class="form-label text-warning fw-medium") }}
                {{ form.data_devolucao(class="form-control bg-secondary text-light border-0") }}
            </div>

            {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                    <div class="alert alert-danger py-1" role="alert">{{ error }}</div>
                {% endfor %}
            {% endfor %}

            {{ form.btnSubmit(class="btn btn-warning") }}

        </form>
    </section>
</div>
{% endblock %}
