{% extends "head.html" %}

{% include "header.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh; background-color: #fff;">
    <section class="border border-dark rounded p-5 shadow-lg" style="max-width: 500px; width: 100%; background-color: #fff;">
        <h3 class="text-center fw-bold mb-4 display-5">Login</h3>
        <form action="" method="post" class="d-flex flex-column">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}

            <label for="{{ form.email.id }}" class="form-label fw-medium mt-3">{{ form.email.label.text }}</label>
            {{ form.email(class="form-control border-dark") }}

            <label for="{{ form.senha.id }}" class="form-label fw-medium mt-3">{{ form.senha.label.text }}</label>
            {{ form.senha(class="form-control border-dark") }}

            {% if erro %}
                <div class="text-center mt-3 mb-3">{{ erro }}</div>
            {% endif %}

            {{ form.submit(class="btn btn-outline-dark mt-4 fw-semibold") }}
        </form>

        <p class="mt-4 text-center">
            Não possui uma conta? 
            <a href="{{ url_for('registeruser') }}" class=" fw-semibold text-decoration-none" style="text-decoration: underline;">
                Registre-se
            </a>
        </p>
    </section>
</div>
{% endblock %}
